*{
    margin:0px;
    padding:0px;
}
body{
    background:linear-gradient(to left, aqua,skyblue)
}
header{
    display:flex;
    justify-content: center;
    align-items: center;;
    background:black;
    color:white;
    height:70px;
    font-size:30px;
    gap:30px;
}
.mainContainer{
    display:flex;
    position:fixed;
    margin-top:50px;
    gap:300px;
    padding:100px;
}
.about{
    height:40px;
    width:auto;
    font-size:15px;
    background:none;
    color:white;
    border:none;
}
.about:hover{
    cursor:pointer;
}
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:0px;
    gap:50px;
    
}
.rock,
.paper,
.scissors{
    margin-top:-30px;
    align-items:center;
    height:150px;
    width:150px;
    border-radius: 80px;
    font-size:80px;
    background:none;
    padding:10px;
    border:none;
}
.rock:hover,
.paper:hover,
.scissors:hover{
    cursor: pointer;
    transform:scale(1.2);
}
.labels{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:125px;
    font-size:20px;
    margin-top:-70px;
    margin-left:-10px;
}
input{
    height:70px;
    width:70px;
    color:black;
    background:none;
    font-size:60px;
    border:none;
    text-align: center;
}
.score{
    margin-top:-20px;
    display:flex;
    gap: 60px;
    
}
.participants{
    display:flex;
    gap:70px;
    margin-top:-60px;
    margin-left:5px;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2px;
}
.display{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:50px auto;
    width:150px auto;
    font-size:25px;
    padding:15px;
    text-align: center;
    background: linear-gradient(to right, rgb(208, 208, 208),  rgb(195, 194, 194));
    margin-left:8px;
    border-radius:15px;
    font-weight:bold ; 
}
.display:hover{
    background: linear-gradient(to left, rgb(208, 208, 208),  rgb(195, 194, 194));
    cursor:pointer;
    transform:scale(1.05);
}
.reset,
.reset1{
   
    height:50px;
    width:150px;
    font-size:20px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    background: none;
    margin-left:10px;
    border-radius:15px;
    font-weight:bold ;
}
.reset:hover,
.reset1:hover{
    cursor:pointer;
    transform:scale(1.05);

}
.upper{
    display:flex;
    flex-direction:row;
    font-size:30px;
    padding:20px;
    margin-top:-10px;
    gap:180px;  
}
.lower{
    display:flex;
    flex-direction:row;
    gap:110px;
    margin-left:-30px; 
    margin-top:-25px; 
    font-weight:bold;
}
.uppertxt,
.lowertxt{
    height:50px auto;
    width:250px ;
    color:black;
    background:none;
    border-radius:50px;
    font-size:30px;
    border:none;
    text-align: center;
}
.upperbox{
    border:3px solid black;
    margin-top:10px;
    padding-bottom:30px;
    padding:20px;
    border-radius:20px;
}
.resultDisplay{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0.2);
    height:50%;
    width:50%;
    display:flex;
    flex-direction:column;
    gap:50px;
    align-items:center;
    font-size:60px;
    justify-content:center;
    border:none;
    background:radial-gradient(lightgoldenrodyellow,rgb(254, 254, 162));
    border-radius:20px;
    z-index: 9999;
    box-shadow:0 0 1rem black;
    visibility:hidden;
    font-weight:bold;
    color:rgb(14, 59, 10);
    opacity:0;
    padding-bottom:40px;
}

.resultDisplay.show{
    visibility: visible;
    animation: zoomIn 0.4s ease-out forwards;
}
@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }
    60% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
@keyframes zoomOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    60% {
        transform: translate(-50%, -50%) scale(1.01);
        opacity: 0.3;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }
}
.resultDisplay.closePopup {
    animation: zoomOut 0.4s ease-out forwards;
}
.close{
    font-size:40px;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-130%,-400%);
    
}
.close:hover{
    cursor:pointer;
}
.closeAbout{
    font-size:40px;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-130%,-540%);
    
}
.closeAbout{
    cursor:pointer;
}
.AboutSection{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0.1);
    height:70%;
    width:50%;
    display:flex;
    flex-direction:column;
    gap:50px;
    align-items:left;
    text-align:center;
    font-size:30px;
    justify-content:center;
    border:none;
    background:radial-gradient(rgb(255, 255, 255),rgb(190, 189, 189));
    border-radius:20px;
    z-index: 9999;
    box-shadow:0 0 1rem black;
    color:black;
    opacity:0;
    padding:50px;
    pointer-events: none;
    padding-top:60px;
    padding-bottom:30px;
}

.AboutSection.showAbout{
    opacity: 1;
    pointer-events: auto; 
    animation: zoomIn 0.4s ease-out forwards;
}
.AboutSection.closeAbout {
    animation: zoomOut 0.1s ease-out forwards;
}
.points{
    display:flex;
    gap:10px;
}
.inputPoints{
    font-size:25px;
    height:30px;
    width:60px;
    border:3px solid black;
    background:rgb(239, 239, 239);
}
